<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke lokasi Anda untuk memberikan rekomendasi lokasi terbaik sesuai preferensi Anda, baik saat aplikasi digunakan maupun di latar belakang.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Aplikasi ini membutuhkan akses ke lokasi Anda untuk memberikan rekomendasi yang sesuai di sekitar Anda, bahkan saat aplikasi tidak sedang digunakan.</string>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
